.nav-link {
  position: relative;
  color: #030303;
  letter-spacing: 2px;
  font-size: 1em;
  font-weight: 700;
  max-width: 100%;

}

.nav-link:hover {
  background: #2951f1;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.7s ease 0s;

}

.nav-link::after {
  transition: all 0.2s;
  content: '';
  opacity: 0;
  height: 2px;
  width: 100%;
  background-color: #1a06cc;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  opacity: 1;
}

.nav {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: #000000 !important;
  font-weight: bold;
  font-size: 35px;

}

.logo span {
  color: #0c87eb;
  font-size: larger;
}

.btn1 {
  padding: 8px 12px;
  margin: 4px;
  background-color: #0c87eb;
  color: #131313;
  border-radius: 5rem;
  transition: all 0.3s;
  position: relative;
}

.btn1:hover {
  background-color: #080808;
  color: #ffffff;
}

.btn2 {
  padding: 8px 22px;
  background: #0c87eb;
  color: white;
  border-radius: 5rem;
}

.team-item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}

.team-item .btn {
  color: rgb(31, 59, 218);
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

.team-item .btn:hover {
  color: #ffffff;
  background: rgb(31, 59, 218);
}

.team-item:hover {
  border-color: red !important;
}

.team-item:hover .bg-primary {
  background: rebeccapurple !important;
}

#card {
  transition: 0.5s;
}

#card:hover {
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(1.1);
}