* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;

}



body {
  color: black;
}



.container {
  max-width: 1068px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav-container{
  background-color: #f0f0f0;
 
}
.nav-link{
  position: relative;
  color: #030303 ;
  letter-spacing: 2px;
  font-size: 1em;
  font-weight: 700;
  max-width: 100%;
  
}
.nav-link:hover{
  background: #2951f1 ;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.7s ease 0s;
  
}
.nav-link::after{
  transition: all 0.2s;
  content: '';
  opacity: 0;
  height: 2px;
  width: 100%;
  background-color: #1a06cc;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-link:hover::after{
  opacity: 1;
}
.nav {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  z-index: 10;
}

.logo{
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: #000000 !important;
  font-weight: bold;
  font-size: 35px;
  
}

.logo span {
  color: #0c87eb;
  font-size: larger;
}

.inner{
  overflow: hidden;
  cursor: pointer;
  }
  .inner img{
  transition: all 1.5s ease;
  }
  .inner:hover img{
  transform: scale(1.5);
  }

  .inner2{
  overflow: visible;
  cursor: pointer;
  }
  .inner2 img{
  transition: all 5 ease;
  align-items: center;
  }
  .inner2:hover img{
  transform: scale(5);
  }
  .about-img img{
    border-radius: 3rem 0 3rem 3rem;
    height: 600px;
    }


.btn1 {
  padding: 8px 12px;
  margin: 4px;
  background-color: #0c87eb;
  color: #131313;
  border-radius: 5rem;
  transition: all 0.3s;
 
  position: relative;
}

.btn1:hover {
  background-color: #080808;
  color: #ffffff;
}


.home-container { 
  position: relative;
  background-size: cover;
  background-position: center;
}
.banner-text {
  position: absolute;
  top: 35%;
  text-align: center;
  left: 33%;

}

.banner-text  h1 {
  color: var(--main-color);
}
.banner-text p{
  color: #000000;
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

#footer{
  background-color: #ffffff;
  box-shadow: 8px 6px 4px #f0f0f0;
}
.footer .btn1.btn-social{
  padding: 9px 12px;
  width: 60px;
  height: 100px;
  color: var(--main-color);
  border-radius: 40px;
  transition: 0,3s;
  }

  
    
    .btn2 {
      padding: 8px 22px;
      background:#0c87eb;
      color: white;
      border-radius: 5rem;
    }
  
   .card{
    transition: 0.5s;
   }
   .card:hover{
    transform: scale(1.1);
   }
    

    

    



