
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.fix {
  clear: both;
  overflow: hidden;
}

header {
  overflow: hidden;
  height: 100vh;
}

.vid-bg {
  position: absolute;
  right: 0;
  bottom: 0;

}


.logo {
  margin: 0;
  height: px;
  float: left;
  color: rgb(252, 249, 249);
  font-size: 50px;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 2px;
}

.logo span {
  color: rgb(255, 255, 255);
 
}



.banner-text {
  position: absolute;
  top: 31%;
  text-align: center;
  left: 14%;
 
}

.banner-text h2 {
  color: rgb(0, 0, 0);
  font-size: 50px;
  margin: 0;
}

.banner-text h2 span {
  color: rgb(218, 84, 23);
  font-size: 50px;
  margin: 0;

}

.banner-text p {
  color: rgb(5, 5, 5);
  font-size: 15px;
  margin: 0;
  font-weight: bold;
}

.btn3 {
  display: inline-block;
  margin-top: 5%;
  background: transparent;
  border: 0;
  font-size: 13px;
  text-transform: uppercase;
  border: 3px solid rgb(0, 0, 0);
  padding: 10px 25px;
  color: rgb(0, 0, 0);
  border-radius: 25px;
}

nav ul li a{
  margin: 15px;
}
.nav-link{
  position: relative;
}
.nav-link::after{
  content: '';
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  left: 0;
}
.logo {
  background: rgb(255, 255, 255);
  width: 300px;
  color: whitesmoke;
}

img {
  max-width: 100%;
  max-height: 100%;
}




/*.nav-link:nth-child(odd){
  background: linear-gradient(right) ;
  padding-left: 5%;
  transform: perspective(200px) rotateY(30deg);
}
.nav-link:nth-child(even){
  background: linear-gradient(left) ;
  padding-right: 5%;
  transform: perspective(200px) rotateY(-30deg);
}
.nav-link:nth-child(odd):hover{
  transform: perspective(100px) rotateY(45deg) ;
  padding-left: 5%;
}
.nav-link:nth-child(even):hover{
  transform: perspective(100px) rotateY(-45deg) ;
  padding-left: 5%;
}

ul li:nth-child(even):hover{
  transform: perspective(200px) rotateY(-45deg);
  padding-right:5%;*/

/*.carousel .carousel-indicators button {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  margin: 0 7px;
}


#carouselExampleIndicators::after {
  content: "";
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}*/

/* .cards-wrapper{
  display: flex;
}

.card{
  margin: 1em auto;
  width: calc(100%/2);
}

.image-wrapper{
 /* height: 22vw;*/


.image-wrapper img{
  max-width: 100%;
  max-height: 100%;
}

.inner{
  overflow: hidden;
  cursor: pointer;
}
.inner img{
  transition: all 1.5s ease;
}
.inner:hover img{
  transform: scale(1.5);
}

.inner2{
  overflow: visible;
  cursor: pointer;
}
.inner2 img{
  transition: all 5 ease;
  align-items: center;
}
.inner2:hover img{
  transform: scale(5);
}

:root{
	--teal: #030303;
	--teal_hover:#080707;
}


	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	
	.custom-bg{
		background-color: var(--teal);
		border: 1px solid var(--teal);
	}
	.custom-bg:hover{
		background-color:black;
		border-color: rgb(255, 255, 255)
	}

	.h-line{
		width: 150px;
		margin: 0 auto;
		height: 1.7px;
	}
  .card{
    padding: 1px;
   
  }
  

  .footer .btn.btn-social{
   
    width: 40px;
    height: 40px; 
    color: rgb(0, 0, 0);
    border-radius: 35px;
    transition: 0,3s;
  }

  